/**
  |============================
  | Base styles
  |============================
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;

  width: 100%;
}

/**
  |============================
  | Adventures styles
  |============================
*/

.adventures {
  min-width: 320px;
  max-width: 767px;

  padding: 0 20px;
  background-color: #11131f;
}

@media only screen and (min-width: 768px) {
  .adventures {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures {
    max-width: 1280px;
  }
}

.adventures-title-container {
  /* display: flex;
  flex-direction: column; */
}

@media only screen and (min-width: 1280px) {
  .adventures-title-container {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }
}

.adventures-title {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  color: #a1b5ba;
  line-height: 1.2;
  letter-spacing: -0.04em;

  margin: 0;

  width: 335px;
  margin-bottom: 24px;
}
.adventures-title-item {
  color: var(--white, #f6f5ef);
  font-style: normal;
  width: 335px;
}
.adventures-text {
  color: var(--white, #f6f5ef);

  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;

  margin: 0;

  width: 335px;

  margin-bottom: 40px;
}

.feedback {
}
.adventures-list {
  list-style: none;

  padding: 0;

  margin: 0;
}

@media only screen and (min-width: 768px) {
  .adventures-list {
    display: flex;
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures-list {
    display: flex;
    gap: 32px;
  }
}

.adventures-list-item {
  padding: 24px 14px;
  border-radius: 24px;
  width: 335px;
  background-color: #1f212d;
}

@media only screen and (max-width: 767px) {
  .adventures-list-item:nth-last-child(-n + 2) {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .adventures-list-item:nth-last-child(-n + 1) {
    display: none;
  }
}

.adventures-card-top {
  width: 48px;
  height: 48px;
  border: #f6f5ef solid;
  border-radius: 72px;

  margin: 0 auto;
  margin-bottom: 18px;
}

.adventures-list-item-title {
  color: var(--white, #f6f5ef);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;

  margin-bottom: 8px;
}
.adventures-list-item-text {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  /* main text */
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;

  padding: 0 3.5px;
}
